<?xml version="1.0"?>
<packages>
    <package id="git" />
    <package id="git.install" />
    <package id="hg" />
    <package id="SourceTree" />
    <package id="GitHub" />
    <package id="SourceTree" />
    <package id="NuGet.CommandLine" />
    <package id="PowerShell" />
    <package id="SourceCodePro" />
<!-- web browser -->
    <package id="Firefox" />
    <package id="GoogleChrome" />
<!-- if needed
    <package id="Opera" />
    <package id="chromium" /> -->
<!-- office software -->
    <package id="libreoffice" />
<!-- if needed
    <package id="libreoffice-help" /> -->
<!-- tools -->
    <package id="7zip" />
    <package id="7zip.commandline" />
    <package id="7zip.install" />
    <package id="ack" />
    <package id="ag" />
    <package id="cwrsync" />
    <package id="aria2" />
    <package id="Wget" />
    <package id="Gow" />
    <package id="mingw" />
    <package id="mingw-get" />
    <package id="Atom" />
    <package id="ConEmu" />
    <package id="greenshot" />
    <package id="PDFCreator" />
    <package id="databasenet" />
    <package id="Sudo" />
    <package id="ultravnc" />
<!-- utilitys -->
    <package id="winmerge-jp" /> -->
    <package id="diffmerge" />
    <package id="Devbox-RapidEE" />
    <package id="systemninja" />
    <package id="sysinternals" />
    <package id="P4Merge" />
<!-- adobe plugin -->
    <package id="flashplayerplugin" />
    <package id="flashplayeractivex" />
    <package id="adobeshockwaveplayer" />
    <package id="adobereader-jp" />
<!-- editor -->
    <package id="notepadplusplus.install" />
    <package id="ResophNotes" />
    <package id="SakuraEditor" />
<!-- java tools -->
    <package id="javaruntime" />
    <package id="jdk" />
    <package id="jdk8" />
<!--
    <package id="eclipse" /> -->
</packages>
