<?xml version="1.0"?>
<packages>
    <package id="git" />
    <package id="git.install" />
    <package id="hg" />
    <package id="SourceTree" />
    <package id="GitHub" />
<!-- web browser -->
    <package id="Firefox" />
    <package id="GoogleChrome" />
<!-- office software -->
    <package id="libreoffice" />
    <package id="libreoffice-help" />
<!-- tools -->
    <package id="7zip" />
    <package id="7zip.install" />
    <package id="ack" />
    <package id="ag" />
    <package id="cwrsync" />
    <package id="aria2" />
    <package id="Gow" />
    <package id="mingw" />
    <package id="mingw-get" />
    <package id="ConEmu" />
<!-- utilitys -->
<!--    <package id="winmerge-jp" /> -->
    <package id="diffmerge" />
    <package id="Devbox-RapidEE" />
    <package id="ccleaner" />
<!-- adobe plugin -->
    <package id="flashplayerplugin" />
    <package id="flashplayeractivex" />
    <package id="adobeshockwaveplayer" />
    <package id="adobereader-jp" />
<!-- editor -->
    <package id="notepadplusplus.install" />
    <package id="ResophNotes" />
</packages>
